/* style.css */

*{
 margin:0;
 padding:0;
 box-sizing:border-box;
 font-family:Arial, sans-serif;
}

body{
 background:linear-gradient(135deg,#1e3c72,#2a5298);
 background: linear-gradient(-45deg,#1e3c72,#2a5298,#00c6ff,#4ca1af);
background-size:400% 400%;
animation:bgMove 8s infinite;
}
/* Navbar */
nav{
 display:flex;
 justify-content:space-between;
 align-items:center;
 background:#111;
 padding:15px 40px;
}

.logo{
 color:white;
 font-size:24px;
 font-weight:bold;
}

nav ul{
 list-style:none;
 display:flex;
}

nav ul li{
 margin-left:20px;
}

nav ul li a{
 color:white;
 text-decoration:none;
 transition:0.3s;
}
/* Header */
header{
 text-align:center;
 padding:25px;
}

marquee{
 color:yellow;
 font-size:20px;
 font-weight:bold;
 margin-top:10px;
}
/* Container */
.container{
 width:60%;
 margin:auto;
 background:white;
 padding:30px;
 border-radius:15px;
 box-shadow:0 0 20px rgba(0,0,0,0.5);
 margin-bottom:40px;
}
/* Form */
fieldset{
 border:2px solid #2a5298;
 padding:20px;
 margin-bottom:20px;
 border-radius:10px;
}

legend{
 padding:5px 10px;
 color:#2a5298;
 font-weight:bold;
}

label{
 display:block;
 margin-top:10px;
 font-weight:bold;
}

input,select,textarea{
 width:100%;
 padding:10px;
 margin-top:5px;
 border-radius:8px;
 border:1px solid gray;
}

input:focus,select:focus,textarea:focus{
 border:2px solid #00c6ff;
 outline:none;
 box-shadow:0 0 8px #00c6ff;
}
input:focus{
border:2px solid cyan;
box-shadow:0 0 10px cyan;
}
/* Payment radio buttons */
input[type="radio"]{
 width:auto;
 margin-right:5px;
 margin-top:15px;
}