/* style.css */

*{
 margin:0;
 padding:0;
 box-sizing:border-box;
 font-family:Arial, sans-serif;
}

body{
 background:linear-gradient(135deg,#1e3c72,#2a5298);
 background: linear-gradient(-45deg,#1e3c72,#2a5298,#00c6ff,#4ca1af);
background-size:400% 400%;
animation:bgMove 8s infinite;
}
/* Navbar */
nav{
 display:flex;
 justify-content:space-between;
 align-items:center;
 background:#111;
 padding:15px 40px;
}

.logo{
 color:white;
 font-size:24px;
 font-weight:bold;
}

nav ul{
 list-style:none;
 display:flex;
}

nav ul li{
 margin-left:20px;
}

nav ul li a{
 color:white;
 text-decoration:none;
 transition:0.3s;
}
/* Header */
header{
 text-align:center;
 padding:25px;
}

marquee{
 color:yellow;
 font-size:20px;
 font-weight:bold;
 margin-top:10px;
}
/* Container */
.container{
 width:60%;
 margin:auto;
 background:white;
 padding:30px;
 border-radius:15px;
 box-shadow:0 0 20px rgba(0,0,0,0.5);
 margin-bottom:40px;
}